@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add/Edit Movie</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Movie form</h4>
                    <p class="category">Insert or update movie data down below.</p>
                </div>
                <div class="card-content">
                    @using (Html.BeginForm("Save", "Movies"))
    {
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating">
                            <label class="control-label">Name</label>
                            @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label">Genre</label>
                            @Html.DropDownListFor(m => m.Movie.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Date Added</label>
                            @Html.TextBoxFor(m => m.Movie.DateAdded, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Release Date</label>
                            @Html.TextBoxFor(m => m.Movie.ReleaseDate, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Number In Stock</label>
                            @Html.TextBoxFor(m => m.Movie.NumberInStock, new { @class = "form-control", @type = "number" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    @Html.HiddenFor(m => m.Movie.Id)
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="/movies" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
}
                </div>
                </div>
        </div>
    </div>
</div>

